/* Basic reset to remove default margin and padding */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Style for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Adjust padding as needed */
}

/* Container to center header content and space elements */
.container {
    max-width: 91%; /* Adjust max-width as needed */
    margin: 0 auto; /* Center container */
    padding: 0 20px; /* Add padding to center content */
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center;
}

/* Style for logo */
h1 {
    font-size: 24px;
}
.shopbag {
	width: 30px;
	margin-right: 20px;
}

/* Style for navigation menu */
nav ul {
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Adjust margin between menu items */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first menu item */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px; /* Adjust padding as needed */
    border-radius: 5px;
    transition: background-color, color 0.3s ease; /* Add smooth transition */
}
.setting {
	width: 30px;
	margin-left: 20px;
	margin-right: -20px;
}
.icons {
	width: 20px;
	margin-left: -10px;
	margin-right: -5px;
	margin-bottom: -6px;
}
.setting:hover {
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}
/* Style for navigation links on hover */
nav ul li a:hover {
    background-color: #5c5c5c; /* Change background color on hover */
}
nav ul ul{
	display: none;
	position: absolute;
	background-color: #69665f;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav ul li:hover > ul{
	display: block;
	z-index: 2;
}
nav ul ul li{
	display: block;
	margin: 10px 0;
}
nav ul ul li a{
	color: #c7c7c7;
	text-decoration: none;
}
nav ul ul li a:hover{
	color: #fff;
}
span  {
	font-size: 13px;
}

body{
	background-image: url('main-background.jpg');
}

.menu-bar {
	position: absolute;
	top: 79px;
	left: 0;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: auto;
	height: 700px;
	background-color: #d1d1d1;
	border-style: none dashed none none;
}
.menu-hover-block {
	vertical-align: middle;
	padding-top: 25px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.menu-list {
	list-style-type: none;
	line-height: 2;
	display: inline-block;
	vertical-align: middle;
}
.menu-hover-block .menu-list li{
    
	font-weight: bold;
    font-size: 17px;
    
}
.menu-hover-block .menu-list li a{
	color: black;
	text-decoration: none;
	transition: background-color, color 0.3s ease; /* Add smooth transition */
	padding: 10px 15px; /* Adjust padding as needed */
	border-radius: 5px;
}
.menu-hover-block .menu-list li a:hover{
	background-color: #333;
	color: white;
}
/*Styling Intro Company*/

.content-block{
	max-width: auto;
	margin: 50px; /* Center container */
	margin-left: 200px;
	margin-bottom: auto;
	margin-right: 50px;
	padding-bottom: 0;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	height: 600px;
	position: relative;
	background-color: #d9d9d9;
	border-radius: 15px;
	border-style: dashed;
}
.content-team{ 
	width: auto;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	align-content: center;
	display: flex;
	justify-content: space-evenly;
}
.imgprof{
	border-radius: 50%;
	max-width: 120px;
	margin-top: 30px;
}
.imgprof:first-child {
	margin-left: 125px;
}
.team-names{ 
	width: auto;
	padding-left: 0;
	padding-right: 0;
	margin-top: 10px;
	margin-left: 10px;
	align-content: center;
	display: flex;
	justify-content: space-evenly;
}
.title {
	text-align: center;
}
.title h3{
	font-size: 40px;
}
