/* Basic reset to remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Adjust padding as needed */
}
body {
	background: url('main-background.jpg');
}

/* Container to center header content and space elements */
.container {
    max-width: 91%; /* Adjust max-width as needed */
    margin: 0 auto; /* Center container */
    padding: 0 20px; /* Add padding to center content */
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center;
}

h1 {
    font-size: 24px;
}
.shopbag {
	width: 30px;
	margin-right: 20px;
}
/* Style for logo */
/* Style for navigation menu */
nav ul {
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Adjust margin between menu items */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin from the first menu item */
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px; /* Adjust padding as needed */
    border-radius: 5px;
    transition: background-color, color 0.3s ease; /* Add smooth transition */
}
.icons {
	width: 20px;
	margin-left: -10px;
	margin-right: -5px;
	margin-bottom: -6px;
}


/* Style for navigation links on hover */
nav ul li a:hover {
    background-color: #5c5c5c; /* Change background color on hover */
	text-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
}
nav ul ul{
	display: none;
	position: absolute;
	background-color: #69665f;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
}
nav ul li:hover > ul{
	display: block;
	z-index: 2;
}
nav ul ul li{
	display: block;
	margin: 10px 0;
}
nav ul ul li a{
	color: #c7c7c7;
	text-decoration: none;
}
nav ul ul li a:hover{
	color: #fff;
	font-size: 17px;
}
span  {
	font-size: 13px;
}
/* Style for login block */
.login-block {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.login-block h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-block label {
    display: block;
    margin-bottom: 10px;
}

.login-block input[type="text"],
.login-block input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-block button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
}

/* Style for button hover effect */
.login-block button:hover {
    background-color: #555; /* Change background color on hover */
}
.link-log{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.reg-button{
	text-align: center;
}
.reg-button i{
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
}

